<form name="game_pick" action="GamesController">
  <button> Rock </button>
  <button> Paper </button>
  <button> Scissors </button>
</form>

<h1> You played paper and the computer played <%= @computer_move%></h1>
<h1> You <%= @outcome%> </h1>
